# --- LLM & Models ---
transformers==4.57.6
huggingface-hub
accelerate
bitsandbytes
sentence-transformers

# --- LangChain Ecosystem  ---
langchain
langchain-core
langchain-community
langchain-classic
langchain-huggingface
langchain-ollama
langchain-chroma
langchain-openai
langchain-experimental
langchain-google-genai

# --- Web Frameworks & Deployment ---
langserve
fastapi[standard]
sse_starlette
streamlit

# --- Jupyter & UI ---
ipywidgets
jupyterlab

# --- Utilities ---
pypdf
requests  # Thay thế cho wget để tải file an toàn và hiện đại hơn
pymupdf4llm
docling